<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Info</h4>
        <p>
          Travlr Getaways<br>
          1234 Somewhere Road<br>
          Nashville, TN 00000<br>
          Phone: (000) 000-0000
        </p>
      </div>
      <div class="col-md-4">
        <h4>About Travlr Getaways</h4>
        <p>
          We specialize in creating unique travel experiences for our customers.
          Whether you're looking for adventure or relaxation, we have the perfect
          trip for you.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <p>
          <a href="#">Facebook</a><br>
          <a href="#">Twitter</a><br>
          <a href="#">Instagram</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright">&copy; 2023 Travlr Getaways. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>