<div class="banner">
  <div class="container">
    <h1>Travlr Getaways</h1>
    <p>Let Travlr Getaways help you plan your next trip!</p>
  </div>
</div>
<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Travlr Getaways Logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/travel">Travel</a></li>
            <li><a href="rooms.html">Rooms</a></li>
            <li><a href="meals.html">Meals</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>